.contact_screen {
  min-height: inherit;

  gap: 3rem;

  padding: 15vh var(--page-padding-inline);

  &,
  article {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
  }

  article {
    gap: 1rem;
  }
}
